<!-- This is the body -->
<!-- Find header, etc. in application.html.erb -->
<h1>Hello</h1>

<!-- "-" says run something in ruby, but don't print the result -->
<%- @pictures.each do |picture| %>
		<h3><%= picture[:title] %></h3>
		<h4><%= picture[:artist] %></h5>
		<p>
			<img src="<%= picture[:url] %>">
		</p>
<% end %>	
<!-- with = t would print out more than you want -->
